body {
    background-color: #b7e4c7ff;
    margin: 20px;
    padding-bottom: 10px;
    text-align: center;
}

/* CSS HEX 
--nyanza: #d8f3dcff;
--turquoise-green: #b7e4c7ff;
--turquoise-green-2: #95d5b2ff;
--ocean-green: #74c69dff;
--ocean-green-2: #52b788ff;
--illuminating-emerald: #40916cff;
--bottle-green: #2d6a4fff;
--brunswick-green: #1b4332ff;
--dark-jungle-green: #081c15ff; */


html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-three);
    --color-main-font: #081c15ff;
    font-size: medium;
    --color-one: #74c69dff;
    --color-two: #52b788ff;
    --color-three: #40916cff;
    --color-four: #2d6a4fff;
    --color-five: #1b4332ff;
    --color-six: #d8f3dcff;
}

h1 {
    color: var(--color-four) !important;
}

/* NAV STYLING */

.navbar-nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    color: var(--color-five) !important;
    margin: 15px;
    border: 10px;
    padding: 20px;
}

nav a:hover,
nav a:focus {
    color: var(--color-three);
    background-color: var(--color-two);
    text-decoration: underline;
}

nav a:active {
    color: var(--color-one);
    background-color: var(--color-five);
    text-decoration: underline;
}

nav [aria-current=page] {
    background-color: #bbb;
    color: #000;
    border-bottom: .25em solid #444;
}

.container-fluid {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: var(--color-four) !important;
    margin: 3px;
    border: 5px;
    padding-top: 5px;
}


/* PAGE 1 HOME STYLING */
/* CARD STYLING */
.card {
    margin: 5px;
    border: 15px;
    padding: 30px;
}

.card-title {
    font-size: xx-large !important;
    color: var(--color-three) !important;
    margin: 5px;
    border: 15px;
    padding: 15px;
}

.card-text {
    color: var(--color-four);
}

/* bootstrap button animation */

.btn {
    display: flex;
    border-radius: 4px;
    background-color: var(--color-four);
    color: #FFFFFF;
    justify-content: center;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border: 8px;
    padding: 20px;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}



/* PAGE 2 STYLING */
.blockquote {
    color: var(--color-four);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 5px;
    border: 8px;
    padding: 8px;
}

.container {
    width: 100%;
    height: auto;
    margin: 15px;
    border: 25px;
    padding: 35px;
}

.svgOne {
    margin: 5px;
    border: 5px;
}

/* PAGE 3 STYLING */


form {
    margin: auto;
    width: 20em;
}


form input,
form label,
form select {
    display: inline-block;
    width: 80%;
}

input {
    background: var(--color-six);
    border: 2px solid;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 125px;
    padding: 0.5rem;
    transition: background-color 0.5s ease-out;
    accent-color: var(--color-four);
}

input:optional {
    border-color: var(--color-two);
}

input:required {
    border-color: var(--color-one);
}

input:valid {
    border-color: var(--color-main-font);
}

input:invalid {
    border-color: red;
}

input[type=submit] {
    border-radius: 49px;
    background: var(--color-one);
    box-shadow: -6px 6px 12px #345947,
        6px -6px 12px #b4fff3;
    border: none;
    color: var(--color-five);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


.box1 {
    border: 1px solid var(--color-one);
}

.box2 {
    margin-top: 3rem;
    border: 1px solid var(--color-five);
}

/* Dotted border */
hr.dotted {
    border-top: 10px dotted var(--color-five);
}

/* PAGE 4 STYLING */
/* .container .bg-primary {
    background-color: var(--color-two) !important;
} */
.page4 .container .bg-light {
    background-color: var(--color-three) !important;
    color: var(--color-six) !important;
    width: 100%;
    border: 19px;
    margin: 12px;
    padding: 40px;
}

/* animation */
.anime {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: var(--color-four);
    position: relative;
    animation: anime 5s infinite;
}

.anime:hover {
    animation-play-state: paused;
}

@keyframes anime {
    from {
        left: 0px;
    }

    to {
        left: 200px;
    }
}
